@using Microsoft.AspNetCore.Components
@using Migration.Repository.Models
@inherits MigrationAdmin.CustomComponents

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Configure the Fields you want to merge the value</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Source</label>
                    <input class="form-control" data-keeper-edited="yes" @bind="DataFieldsMapping.SourceField"/>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <div class="form-group">
                    <label>Destination</label>
                    <input class="form-control" data-keeper-edited="yes" @bind="DataFieldsMapping.DestinationField"/>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-default" @onclick="async () => await AddDataFieldsMapping(DataFieldsMapping, MappingType.MergeField)">Add</button>
    </div>
</div>