@using Microsoft.AspNetCore.Components
@using Migration.Repository.Models
@inherits MigrationAdmin.CustomComponents

<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Configure the Joins between tables</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-1">
                <div class="form-group">
                    <label>Operator Type</label>
                    <select class="form-control" data-keeper-edited="yes" @bind="DataFieldsMapping.OperatorType">
                        @foreach (var operatorType in Enum.GetValues<OperatorType>())
                        {
                            <option value="@operatorType">@operatorType</option>
                        }
                    </select>
                </div>
            </div>
            <div class="col-sm-1">
                <div class="form-group">
                    <label>Ignore Case Sensitive</label>
                    <input type="checkbox" @bind="DataFieldsMapping.IgnoreCaseSensitive" />
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>[@DataFieldsMapping.SourceEntity]</label>[Field]
                    <input class="form-control" data-keeper-edited="yes" @bind="DataFieldsMapping.SourceField"/>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="form-group">
                    <label>[@DataFieldsMapping.DestinationEntity]</label>[Field]
                    <input class="form-control" data-keeper-edited="yes" @bind="DataFieldsMapping.DestinationField"/>
                </div>
            </div>
        </div>
    </div>
    <div class="card-footer">
        <button class="btn btn-default" @onclick="async () => await AddDataFieldsMapping(DataFieldsMapping, MappingType.TableJoin)">Add</button>
    </div>
</div>