@using Connectors.Redis
@using Connectors.Redis.Models
@using Migration.Models
@using Migration.Models.Profile
@inject IRepository<DataSettings> _dataSettingsRepository;
@inject IRepository<ProfileConfiguration> _profileRepository;
@inject IJSRuntime jsRuntime

@if (ShowModal)
{
    <div class="modal fade show" id="dataDifferenceModal" style="display:block" aria-modal="true" role="dialog">
        <div class="modal-dialog" style="max-width:50%;">
            <div class="modal-content">

                <!-- Modal Header -->
                <div class="modal-header">
                    <h4 class="modal-title">Clone Profile</h4>
                </div>

                <!-- Modal body -->
                <div class="modal-body" style="height: 300px;">
                    <div class="row">
                        <div class="col-sm-12">
                            <JobCategoryComponent OnJobCategorySelected="(jobCategory) => Profile.JobCategoryId = jobCategory.CategoryName"></JobCategoryComponent>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Name</label>
                            <input class="form-control" data-keeper-edited="yes" @bind="@Profile.Name" />
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-12">
                            <label>Description</label>
                            <input class="form-control" data-keeper-edited="yes" @bind="@Profile.Description" />
                        </div>
                    </div>
                </div>

                <!-- Modal footer -->
                <div class="modal-footer">
                    <button class="btn btn-default" @onclick="CloneProfile"> <i class="nav-icon fas fa-clone"></i> Clone</button>
                    <button type="button" class="btn btn-default" @onclick="ModalOk">Close</button>
                </div>
            </div>
        </div>
    </div>
}

@code {
    [Parameter]
    public bool ShowModal { get; set; }

    [Parameter]
    public ProfileConfiguration Profile { get; set; }

    [Parameter]
    public EventCallback<ProfileConfiguration> OnProfileCloned { get; set; }

    [Parameter]
    public EventCallback ModalOk { get; set; }

    private async Task CloneProfile()
    {
        var newId = Guid.NewGuid().ToString();
        Profile.Id = newId;

        var redisData = new HashKeyRedisData<ProfileConfiguration>()
            {
                Data = Profile,
                RedisValue = newId,
                RedisKey = Profile.JobCategoryId
            };

        await _profileRepository.SaveAsync(redisData);

        await ShowSuccessAlert();

        await OnProfileCloned.InvokeAsync(Profile);
    }

    private async Task ShowSuccessAlert()
    {
        await jsRuntime.InvokeAsync<object>("ShowSuccessAlert", $"Profile configuration cloned");
        ShowModal = false;
    }
}