@using Migration.Repository.Models
@using Newtonsoft.Json
@using Newtonsoft.Json.Linq
<div class="modal fade show" id="dataDifferenceModal" style="display:block" aria-modal="true" role="dialog">
    <div class="modal-dialog" style="max-width:100%;">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">Data Difference</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="height: 900px; overflow: scroll">
                @if (IsLoading)
                {
                    <div class="col-sm-12">
                        <Loading />
                    </div>
                }
                @if (DataDifferences != null)
                {
                    foreach (var differences in DataDifferences)
                    {
                        <div class="card">
                            <div class="card-header">
                                <h4 class="card-title">@differences.Key</h4>
                            </div>
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-12">
                                        <table class="table table-bordered table-striped">
                                            <thead>
                                                <tr>
                                                    <th>Properties</th>
                                                    <th>Original Values</th>
                                                    <th>Values changed</th>
                                                    <th>Actions</th>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var difference in differences.Value)
                                                {
                                                    <tr>
                                                        <td>
                                                            @difference.PropertyName
                                                        </td>
                                                        <td>
                                                            @((MarkupString)difference.Object1Value)
                                                        </td>
                                                        <td>
                                                            @((MarkupString)difference.Object2Value)
                                                        </td>
                                                        @switch (difference.OperationType)
                                                        {
                                                            case OperationType.Delete:
                                                                <td style="color:red"> <i style="color:red" class="nav-icon fas fa-trash"></i> Destination record will be deleted</td>
                                                                break;
                                                            case OperationType.Import:
                                                                <td style="color:blue"> <i style="color:blue" class="nav-icon fas fa-plus"></i> Destination record will be Imported</td>
                                                                break;
                                                            default:
                                                                break;
                                                        }
                                                    </tr>
                                                }
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                @if (ShowConfirmationButtom)
                {
                    <button type="button" style="margin-top:15px;" class="btn btn-warning" @onclick=ModalConfirm>Yes</button>
                    <button type="button" style="margin-top:15px;" class="btn btn-close" @onclick=ModalOk>No</button>
                }
                else
                {
                    <button type="button" style="margin-top:15px;" class="btn btn-close" @onclick=ModalOk>Close</button>
                }
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool IsLoading { get; set; }

    [Parameter]
    public bool ShowModalScroll { get; set; }

    [Parameter]
    public bool ShowConfirmationButtom { get; set; }

    [Parameter]
    public Dictionary<string, List<Difference>> DataDifferences { get; set; }

    [Parameter]
    public EventCallback ModalOk { get; set; }

    [Parameter]
    public string Id { get; set; }

    [Parameter]
    public EventCallback ModalConfirm { get; set; }
}  