@inherits LayoutComponentBase

<PageTitle>Migration tool</PageTitle>
<div class="wrapper">
    <NavMenu />
    <div class="content-wrapper">
        @Body
    </div>
    <footer class="main-footer">
        <strong>Copyright &copy; 2023 <a href="#"></a>.</strong>
        All rights reserved.
        <div class="float-right d-none d-sm-inline-block">
            <b>Version</b> 1.0.0
        </div>
    </footer>
</div>