@using Migration.Models
@using Migration.Models.Profile
@using Migration.Infrastructure.Redis
@inject IRepository<ProfileConfiguration> _profileRepository;

<label>Profiles</label>
<select class="form-control" id="profile" data-keeper-edited="yes" @onchange="ChangeProfile">
    @if (_listProfiles != null)
    {
        foreach (var profile in _listProfiles)
        {
            <option value="@profile.Id">@profile.Name</option>
        }
    }
</select>

@code {
    private List<ProfileConfiguration> _listProfiles;

    [Parameter]
    public JobsCategory JobsCategory { get; set; }

    [Parameter]
    public EventCallback<string> OnProfileSelected { get; set; }

    protected override async Task OnInitializedAsync()
    {
        if (JobsCategory == null) return;

        _listProfiles = await _profileRepository.FindAsync(JobsCategory.CategoryName);

        if (_listProfiles.Any())
        {
            var profileId = _listProfiles.FirstOrDefault().Id;

            await OnProfileSelected.InvokeAsync(profileId);
        }
    }

    private async Task ChangeProfile(ChangeEventArgs e)
    {
        var profileId = e.Value.ToString();

        await OnProfileSelected.InvokeAsync(profileId);
    }
}