@using Migration.Models
@using Migration.Models.Profile
@inherits MigrationAdmin.CustomComponents
<div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">Mapping configuration</h3>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-sm-2">
                <label>Mapping Type</label>
                <select class="form-control" data-keeper-edited="yes" value="@_dataFieldsMapping.MappingType" @onchange="ChangeMappingType">
                    @foreach (var mappingType in Enum.GetValues<MappingType>().Where(w => w != MappingType.TableJoin))
                    {
                        <option value="@mappingType">@mappingType</option>
                    }
                </select>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                @if (Profile.OperationType == OperationType.Update || Profile.OperationType == OperationType.Import)
                {
                    @switch (_dataFieldsMapping.MappingType)
                    {
                        case MappingType.MergeField:
                            <MergeFieldsComponent OnDataFieldsMappingUpdated="(dataFieldMapping) => AddFieldsMapping(dataFieldMapping)"
                                                  DataFieldsMapping="_dataFieldsMapping"></MergeFieldsComponent>
                            break;
                        case MappingType.UpdateValue:
                            <UpdateValueComponent OnDataFieldsMappingUpdated="(dataFieldMapping) => AddFieldsMapping(dataFieldMapping)"
                                                  DataFieldsMapping="_dataFieldsMapping"></UpdateValueComponent>
                            break;
                        case MappingType.MergeFieldWithCondition:
                            <MergeFieldValuesConditionComponent OnDataFieldsMappingUpdated="(dataFieldMapping) => AddFieldsMapping(dataFieldMapping)"
                                                                DataFieldsMapping="_dataFieldsMapping"></MergeFieldValuesConditionComponent>
                            break;
                        case MappingType.UpdateValueWithCondition:
                            <UpdateValueConditionComponent OnDataFieldsMappingUpdated="(dataFieldMapping) => AddFieldsMapping(dataFieldMapping)"
                                                           DataFieldsMapping="_dataFieldsMapping"></UpdateValueConditionComponent>
                            break;
                    }
                }
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <MappingListComponent Profile="Profile"
                              OnDataFieldsMappingEditing="(dataFieldsMapping) => _dataFieldsMapping = dataFieldsMapping "></MappingListComponent>
    </div>
</div>

@code
{
    [Parameter]
    public ProfileConfiguration Profile { get; set; } = new();

    [Parameter]
    public EventCallback<ProfileConfiguration> OnDataMappingChanged { get; set; }

    private DataFieldsMapping _dataFieldsMapping = new();

    private async Task AddFieldsMapping(DataFieldsMapping dataFieldMapping)
    {
        Profile.FieldsMapping.Remove(dataFieldMapping);
        Profile.FieldsMapping.Add(dataFieldMapping);
        _dataFieldsMapping = new DataFieldsMapping();

        await OnDataMappingChanged.InvokeAsync(Profile);
    }

    private void Remove(DataFieldsMapping dataFieldsMapping)
    {
        Profile.FieldsMapping.Remove(dataFieldsMapping);
    }

    private void ChangeMappingType(ChangeEventArgs e)
    {
        _dataFieldsMapping = new();
        _dataFieldsMapping.MappingType = Enum.Parse<MappingType>(e.Value.ToString());
    }
}
