
<div class="row">
    <div class="col-sm-2">
        <div class="form-group">
            <label>@Description</label>
            <select class="form-control" id="dataqueryMappingType" data-keeper-edited="yes" @onchange="SelectFile">>
                @foreach (var file in _files)
                {
                    <option value="@file">@file</option>
                }
            </select>
        </div>
    </div>
</div>

<div class="row">
<div class="col-sm-3">
    <div class="form-group">
        <button class="btn btn-success" @onclick="() => LoadTemplate()"> Preview Data Result</button>
    </div>
</div>
</div>

@code {

    [Parameter]
    public string Path { get; set; }

    [Parameter]
    public string Description { get; set; }

    [Parameter]
    public EventCallback<string> OnFileLoadCallback { get; set; }

    private string _selectedFile;


    private IEnumerable<string> _files = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        _files = Directory.EnumerateFiles(Path, "*.json").Select(w => w.Replace($"{Path}\\", string.Empty));
    }

    public void SelectFile(ChangeEventArgs e)
    {
        if (e.Value == null) return;

        _selectedFile = e.Value.ToString();
    }

    public async Task LoadTemplate()
    {
        var json = await File.ReadAllTextAsync($"{Path}\\{_selectedFile}");

        await OnFileLoadCallback.InvokeAsync(json);
    }
}