<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <label>Query (Format: select c.Field1,c.Field2,c.Field3,c.Field4 from c where c.Field1 = value) or (select * from c where c.Field1 = value)</label>
            <input class="form-control" id="query" data-keeper-edited="yes" @bind="@Query" />
        </div>
    </div>
</div>
<div class="row">
    <div class="col-sm-12">
        <div class="form-group">
            <button class="btn btn-default" @onclick="() => AddQuery()"> Add Query</button>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback<string> OnQueryAdded { get; set; }

    [Parameter]
    public string Query { get; set; }

    public async Task AddQuery()
    {
        await OnQueryAdded.InvokeAsync(Query);
    }
}