@page "/"

<div class="card card-info">
    <div class="card-header">
        <h3 class="card-title">Configure your Connection string</h3>
    </div>
    <div class="card-body">
        <ConnectionConfigurationComponent>
        </ConnectionConfigurationComponent>
    </div>
</div>