<div class="modal fade show" id="logDetailsModal" style="display:block" aria-modal="true" role="dialog">
    <div class="modal-dialog" style="max-width: 900px; ">
        <div class="modal-content">

            <!-- Modal Header -->
            <div class="modal-header">
                <h4 class="modal-title">@ModalTitle</h4>
            </div>

            <!-- Modal body -->
            <div class="modal-body" style="overflow:scroll;max-height:900px">
                @if (!Error)
                {
                    <div class="card card-success">
                        <div class="card-header">
                            <h3 class="card-title">Success</h3>
                        </div>
                        <div class="card-body"> @Message</div>
                    </div>
                }
                else
                {
                    <div class="card card-warning">
                        <div class="card-header">
                            <h3 class="card-title">Error</h3>
                        </div>
                        <div class="card-body"> @Message</div>
                    </div>
                }
            </div>

            <!-- Modal footer -->
            <div class="modal-footer">
                <button type="button" style="margin-top:15px;" class="btn btn-close" @onclick=ModalOk>Ok</button>
            </div>

        </div>
    </div>
</div>

@code {
    [Parameter]
    public bool Error { get; set; }

    [Parameter]
    public string Message { get; set; }

    [Parameter]
    public string ModalTitle { get; set; }

    [Parameter]
    public EventCallback ModalOk { get; set; }
}